#!/bin/bash
set -euo pipefail

CON=$(nmcli -t -f NAME,DEVICE con show | grep "${interface}" | cut -d: -f1)

sudo nmcli con mod "$CON" \
  ipv4.addresses "${static_ip}/24" \
  ipv4.gateway "${gateway}" \
  ipv4.dns "${dns_csv}" \
  ipv4.method manual

sudo nmcli con up "$CON"
