%{ if role == "external" && acme_email != null ~}
{
	email ${acme_email}
}

%{ endif ~}
%{ for i, site in sites ~}
%{ if i > 0 ~}

%{ endif ~}
${site.hostname} {
	%{~ if role == "internal" ~}
	tls internal
	%{~ endif ~}
	%{~ if role == "external" ~}
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	%{~ endif ~}
	reverse_proxy ${site.upstream}
}
%{ endfor ~}